.post {
  text-shadow: none;
  font-family: Monaco, "Courier New", "Microsoft YaHei";
}
.post code {
  font-size: .8em;
}
.post :not(pre) > code {
  font-size: 1em;
}
.post pre {
  line-height: 1.1;
  padding: .5em;
}
.post blockquote {
  background-color: rgb(241,252,159);
  font-size: .8em;
  font-style: normal;
}
.post blockquote p {
  margin-bottom: 10px;
}
.post img {
  width : auto;
}